examples/incident-handling.json
[
    {
        "id": "272a5c188a42496f",
        "type": "tab",
        "label": "incident-handling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b084d7bf5c05960e",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "true",
        "payloadType": "bool",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "e55950b8b27f8323",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ack",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "f5ad2fcc6b4abb36",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "payload": "true",
        "payloadType": "bool",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "c5df543e8f383222",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "true",
        "payloadType": "bool",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "b1b0090f1529f38a",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "incident",
        "payload": "This is incident!",
        "payloadType": "str",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "6b666ed68a783d43",
        "type": "function",
        "z": "272a5c188a42496f",
        "name": "test",
        "func": "var incident = msg.payload.incident\nvar start = msg.payload.start\nvar ack = msg.payload.ack\nvar stop = msg.payload.stop\nvar durationStr = msg.payload.incidentDuration.split(': ')[1]; // This will give you the duration value as a string \"8.204\"\nvar duration = parseFloat(durationStr); // This will convert the string to a number 8.204\n\n\nmsg.payload = {incident,start,ack,stop,duration}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 420,
        "wires": [
            [
                "3dae40bf6a0f0535"
            ]
        ]
    },
    {
        "id": "3dae40bf6a0f0535",
        "type": "debug",
        "z": "272a5c188a42496f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "e0babe1b9bed6f30",
        "type": "incident-handler",
        "z": "272a5c188a42496f",
        "name": "",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "6b666ed68a783d43"
            ]
        ]
    },
    {
        "id": "de3af732d7b08835",
        "type": "inject",
        "z": "272a5c188a42496f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "incident",
        "payload": "This is incident2",
        "payloadType": "str",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "e0babe1b9bed6f30"
            ]
        ]
    },
    {
        "id": "bab97c280d191567",
        "type": "comment",
        "z": "272a5c188a42496f",
        "name": "Incident Handling Example",
        "info": "Note - the input can be taken from mqtt, opcua or any industrial protocol\n\nFollow the squence while using it for industrial use\n\n1. Incident\n2. start\n3. ack\n4. stop\n5. reset\n\n\nNote - In somecases, the system can provide input stop before ack - in that case the timestamp for ack is same as that of stop message.\n\nAlso reset signal *must* be provided to clear the existing messages - this is very useful when you are logging or visulizing the data\n\nAuthor - Harshad Joshi, Bufferstack.IO Analytics Technology LLP, Pune",
        "x": 220,
        "y": 60,
        "wires": []
    }
]